<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xys.libzxing" xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/zxing_bar_name"
            android:name=".zxing.activity.CaptureActivity"/>
    </application>
</manifest>